.form-inline {
  width: 100%;
  margin: 10px;
}
.but {
  background-color: #ffffff;
  color: black;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #d2d4d2;
  text-decoration: none;
}
.button {
  margin-top: 50px;
  margin-left: 50%;
}
.form-control {
  margin-top: 100px;
}
.all {
  background-color: #ffffff;
}
